@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --orange: hsl(25, 97%, 53%);

  /* ### Neutral */

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  background: var(--very-dark-blue);
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
  color: #fff;
}

.component {
  max-width: 435px;
  padding: 2rem;
  margin: 0 1rem;
  border-radius: 20px;
  background: linear-gradient(#232a34, #171d26);
}

.component__img--star {
  padding: 1rem;
  background: var(--dark-blue);
  border-radius: 50%;
}

.component__heading {
  margin: 1.5rem 0 0.8rem;
  font-size: 28px;
}

.component__paragraph {
  line-height: 1.5;
  color: var(--light-grey);
}

.component__rating {
  margin: 1rem 0 1.5rem;
}

button {
  display: inline-block;
  font-family: inherit;
  transition: background 0.2s ease;
}

.component__rate {
  background: var(--dark-blue);
  padding: 1rem 1.5rem;
  margin: 0.5rem 0.9rem 0.5rem 0;
  border-radius: 50%;
  font-weight: bold;
  color: var(--medium-grey);
  cursor: pointer;
  border: none;
}
.selected {
  background: var(--medium-grey);
  color: var(--white);
}

.component__rate:hover {
  background: var(--orange);
  color: var(--white);
}

.component__btn {
  padding: 0.5rem 1rem;
  width:100%;
  border-radius: 20px;
  background: orange;
  color: #000;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  
}

.component__btn:hover {
  background: var(--white);
  color: var(--orange);
  font-weight: bold;
}

.component--thanks {
  text-align: center;
  display: none;
}

.component__img--thanks {
  margin-bottom: 2rem;
}

.component__alert {
  background: var(--dark-blue);
  color: var(--orange);
  padding: 0.5rem 0;
  width: 55%;
  margin: 0 auto 2.5rem;
  border-radius: 20px;
}

@media (max-width: 460px) {
  .component {
    width: 327px;
    padding:1rem;
  }

  .component__rate {
    background: var(--dark-blue);
    padding: 0.7rem 1rem;
    margin: 0.5rem 0.9rem 0.5rem 0;
    border-radius: 50%;
    font-weight: bold;
    color: var(--medium-grey);
    cursor: pointer;
    border: none;

  }
}
