@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;

}
/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */
:root {
  /* ### Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* ### Neutral */

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  --heading-font-family: 'Fraunces', serif;
  --body-font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 14px;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: var(--cream);
  font-family: var(--body-font-family);
}

h1 {
  font-family: var(--heading-font-family);
}

.card {
  margin: 1rem;
  min-height: 450px;

  display: flex;
  background: var(--white);
  border-radius: 10px;
}

.card__img {
  background: url('./images/image-product-desktop.jpg');
  background-size: cover;
  background-position: center;

  width: 300px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card__content {
  margin:2rem;

  width:260px;


}


.card__sub__heading {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
  color: var(--dark-grayish-blue);
}

.card__main__heading {
  line-height: 1;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  font-family: var(--heading-font-family);
  color: var(--very-dark-blue);
}

.card__paragraph {
  line-height: 1.5;
  color: var(--dark-grayish-blue);
}

.card__pricing {
  display: flex;

  align-items: center;
  margin: 2rem 0;
}

.card__price-current {
  font-size: 2rem;
  font-family: var(--heading-font-family);
  color: var(--dark-cyan);
}

.card__price-old {
  margin-left: 1.5em;
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
  text-decoration: line-through;
}

.card__btn {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--dark-cyan);
  transition: background 0.2s ease;
  cursor: pointer;
}

.card__btn:hover {
  background: hsl(158, 36%, 47%);
}
.card__icon {
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: bottom;
}


@media (max-width: 650px) {
  .card {
    flex-direction: column;
  }

  .card__img {
    height:340px;
    width:100%;
    background: url('./images/image-product-mobile.jpg');
    background-size: cover;
    background-position: bottom center;
  }
}