@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  /* ## Primary  ## */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* ## Neutral ## */

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: #71737F;
  --very-light-gray: #fafafa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  background: var(--very-light-gray);
  color: var(--very-dark-blue);
  line-height: 2.3rem;
  letter-spacing: 0.09px;
}

main {
  padding: 8.5rem 3.2rem 4rem;
}
/* Hero */
.hero {
  text-align: center;
  margin-bottom: 7.6rem;
}

.hero__subheading {
  font-size: 2.4rem;
  letter-spacing: 0.17px;
  font-weight: 200;
}

.hero__heading {
  font-size: clamp(2.4rem, 1.5rem + 2vw, 3.6rem);
  margin-bottom: 1.3rem;
  margin: 1.6rem 0 1.6rem;
}

.hero__text {
  font-size: 1.5rem;
  width: 75%;
  margin-inline: auto;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 2.4rem;
  color: #6B7085;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: 1fr;
}
.card {
  background: #fff;
  width: 31.1rem;
  padding: 2.7rem 2.8rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.3rem;
}

.card--cyan {
  border-top: 4px solid var(--cyan);
}
.card--red {
  border-top: 4px solid var(--red);
}
.card--orange {
  border-top: 4px solid var(--orange);
}
.card--blue {
  border-top: 4px solid var(--blue);
}
.card__heading {
  font-size: 2rem;
}
.card__text {
  color: var(--grayish-blue);
  margin: 1rem 0 3.3rem;
}
.card__img {
  align-self: flex-end;
}

@media (min-width: 800px) {
  main {
    padding: 5rem 3.2rem 0rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 0;
    justify-content: center;
    max-width: 1150px;
    margin-inline: auto;
  }
  .card {
    width: 35rem;
  }
  .hero__text {
    width: 60%;
    max-width: 550px;
  }
}

@media (min-width: 1200px) {
  .hero {
    margin-bottom: 15rem;
  }
  .cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0;
  }

  .up {
    transform: translateY(-80px);
  }

  .card:nth-child(3) {
    order: 4;
  }
  .card:nth-child(4) {
    order: 3;
  }
}
