/* Variables */
:root {
  --primary-color: #24053E;
  --secondary-color:#44FFA1;
  --grey-color:#584D62;
  --light-color:#FCF8FF;
  --white-color:#fff;
}

/* Fonts */
@font-face {
  font-family: Manrope;
  src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Fraunces;
  src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
  font-weight: semi-bold;


}

/* General Rules */

html {
  font-size:62.5%;
}


h1,h2,h3,h4,h5,h6 {
  font-family:  Fraunces;
}

h1 {
  font-size:8rem;
  line-height: 8rem;
}

h2 {
  font-size:5.6rem;
  line-height: 6.4rem;
}

h4,h5 {
  font-size:3.2rem;
  line-height: 4rem;
}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {

  line-height:3.2rem;
  font-size:1.8rem;
  font-family: Manrope;
  font-weight: 400;

}

.btn {
  font-family: inherit;
  font-weight: bold;
  border:none;
  cursor: pointer;
  transition: all .2s;
  font-family: inherit;
  font-size:1.6rem;


}

.btn-primary {
  padding:1.5rem 2.6rem;
  color:var(--primary-color);
  background-color: var(--secondary-color);
  border:1px solid transparent;

}

.btn-primary:hover {
  background-color: transparent;
  color: var(--secondary-color);
  border:1px solid var(--secondary-color)
}

.btn-secondary {
  color:#fff;
  border-bottom:3px solid var(--secondary-color);
  background-color: transparent;
  padding-bottom:5px;
}

.btn-secondary:hover {
  color:var(--secondary-color);
}


/* Header */
.header {

  color:var(--white-color);
  padding:3.2rem 4rem 13rem 3.9rem;
  /* height:80vh; */

  position: relative;
  z-index:1;



}

.header::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: var(--primary-color);
  /* border-radius: 0 0 80% 80%/0 0 12% 12%; */
  border-radius: 0 0 60% 60%/0 0 8% 8%;
  transform:scaleX(1.5);
  z-index:-50;
}

.header__nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-weight: bold;
  font-size:3rem;
  margin-top:-5px;
}

.header__logo span {
  font-weight: 400;
}

.header__hero {
  text-align: center;
  margin-bottom:5rem;
}

.hero__heading {
  font-size:40px;
  font-weight: semi-bold;
  line-height: 1.2;
  margin:3rem 0 4rem;
  padding-top:4rem;
}

.hero__heading--decorated {
  border-bottom:3px solid var(--secondary-color);

}

.header__img {
  height:18.4rem;
  position: absolute;
  top:38rem;
  right: 2rem;
  z-index: 500;
}

/* Features */
.features {
  padding:18rem 1.6rem 2rem;
  /* background-color: var(--light-color); */
  text-align: center;
  /* clip-path: polygon(50% 0%, 100% 0, 100% 98.5%, 64% 100%, 32% 100%, 0 98.5%, 0 0); */
  position: relative;
  z-index: 100;
  
}

.features::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--light-color);
  /* border-radius: 0 0 80% 80%/0 0 12% 12%; */
  border-radius: 0 0 60% 60%/0 0 8% 8%;
  transform:scaleX(1.5);
  z-index:-50;
}

.feature {
  padding-bottom:4rem;
}
.feature__number {
  border:1px solid black;
  display:inline-block;
  padding:1rem 2.5rem;
  border-radius: 50%;
  font-weight: semi-bold;
  margin-bottom:2.4rem;
  font-size:2rem;
}

.feature__heading {
  margin-bottom:2rem;
  font-size:2.8rem;
}

.feature__paragraph {
  font-size:16px;
  line-height: 2.8rem;
}

/* Action */
.action {
  padding:10rem 1.6rem 7.4rem;
  margin:0 auto;
  text-align: center;
}
.action__img {
  width:85%;
  z-index:-1;
  position: relative;

  
}

.action__box {
  background-color: var(--primary-color);
  color:var(--white-color);
  padding:1rem 2rem;
  margin-top:-6rem;
  z-index:10;
}

.box__heading {
  margin:2rem;
  font-size:3rem;
}

.box__paragraph {
  font-size:1.6rem;
  width:90%;
  margin:0 auto;
}
.action__box .btn {
  margin:2rem 0 2.5rem;

}

/* Footer */
.footer {
  text-align: center;
  padding-bottom:5rem;
}

.footer__logo {
  font-size:3rem;
  font-weight: bold;
}
.footer__logo span {
  font-weight: 400;
}

.footer__links {
  list-style: none;
  display:flex;
  text-align: center;
  justify-content: center;
  padding-top:4rem;
}
.footer__links li:nth-child(2) {
  padding:0 3rem;
}