@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

:root {
  /* ## Colors ## */
  --light-green: 192, 37%, 48%;
  --light-cyan: 192, 90%, 77%;
  --dark-pink: 268, 34%, 53%;
  --light-pink: 268, 100%, 86%;
  --main-black: 240, 21%, 20%;
  --light-gray: 240, 10%, 57%;

  --light-white: 0, 0%, 98%;

  /* ## Tpyography ##*/
  --h1-height: 6.4rem;
  --h2-height: 4.4rem;

  --overline-height: 2.6rem;
  --overline-spacing: 4px;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  background: hsl(var(--light-white));
  color: hsl(var(--light-gray));
  overflow-x: hidden;
  text-align: center;
}

h1,
h2 {
  color: hsl(var(--main-black));
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  transition: all 0.2s ease-in;
}

.btn {
  padding: 1.4rem 2.5rem;
  color: hsl(var(--light-white));
  border-radius: 20px;
  font-weight: bold;
}

.btn-1 {
  background: hsl(var(--light-green));
  margin-right: 1.6rem;
}

.btn-1 .btn--highlight {
  color: hsl(var(--light-cyan));
}

.btn-1:hover {
  background: hsl(192, 54%, 64%);
}
.btn-1:hover .btn--highlight {
  color: hsl(var(--light-cyan));
}

.btn-2 {
  background: hsl(var(--dark-pink));
}
.btn-2 .btn--highlight {
  color: hsl(var(--light-pink));
}

.btn-2:hover {
  background: hsl(268, 55%, 71%);
}
.btn-2:hover .btn--highlight {
  color: hsl(var(--light-cyan));
}

.number {
  color: hsl(var(--light-gray));
  padding: 1.6rem 2rem;
  border-radius: 50%;
  background: transparent;
  border: 2px solid hsla(var(--light-gray), 0.7);
  font-weight: bold;
  position: relative;
  font-size: 1.6rem;
}

.number::before {
  content: '';
  position: absolute;
  top: -89px;
  left: 27px;
  height: 88px;
  background: hsla(var(--light-gray), 0.7);
  width: 2px;
}

.overline {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 4px;
  color: hsl(var(--light-green));
}
/* Header */
.header {
  position: relative;
  margin-bottom: 18rem;
}

.header__logo {
  margin: 5rem 10rem;
}

.img--desktop {
  position: absolute;
  width: 28%;
}
.img--left {
  top: 13rem;
  left: -3rem;
}
.img--right {
  top: 13rem;
  right: -3rem;
}

.img--tablet {
  display: none;
}

.header__title {
  font-size: clamp(3.5rem, 1rem + 4vw, 6.4rem);
  line-height: clamp(2rem, 1rem + 5vw, 6rem);
  width: 38%;

  margin-inline: auto;
}
.body--text {
  font-size: clamp(1.4rem, 0.5rem + 1vw, 1.8rem);
  width: 36%;
}
.header__text {
  font-size: clamp(1.4rem, 0.5rem + 1vw, 1.8rem);
  width: 36%;
  margin: 3rem auto;
}

/* Meeting */
.meeting {
  padding: 6rem 0 3rem;
  margin-inline: 6rem;
}

.meeting__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.meeting__img {
  border-radius: 15px;
  width: 100%;
}
.meeting__heading {
  margin: 1.6rem 0 3.2rem;
}

.meeting__heading {
  font-size: clamp(3rem, 1rem + 3vw, 4rem);
  line-height: clamp(1rem, 1rem + 5vw, 4rem);

  width: 50%;
  max-width: 500px;

  margin-inline: auto;
}

.meeting__text {
  width: 80%;
  max-width: 580px;
  margin-inline: auto;
}

.meeting__overline {
  margin-top: 7rem;
}

/* Footer */
.footer {
  margin-top: 10rem;
  background: linear-gradient(hsla(var(--light-green), 0.9), hsla(var(--light-green), 0.9)), url('./assets/desktop/image-footer.jpg');
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 16rem;
  color: hsl(var(--light-white));
  text-align: left;
}

.footer__heading {
  color: hsl(var(--light-white));
  font-size: clamp(3.2rem, 1rem + 3vw, 4rem);

  line-height: 1.2;

  width: 40%;
}
.footer__text {
  width: 40%;
  font-size: 18px;
}

@media (max-width: 1300px) {
  .meeting {
    margin-inline: 3rem;
  }

  .meeting__overline {
    margin-top: 4rem;
  }
  .footer {
    padding: 10rem;
  }
}

@media (max-width: 1000px) {
  .header {
    margin-bottom: 17rem;
  }
  .header__logo {
    padding-bottom: 2.5rem;
  }

  .img--desktop {
    display: none;
  }
  .img--tablet {
    display: block;
    width: 100%;
  }

  .header__logo {
    margin: 5rem 0 4rem;
  }

  .header__title {
    margin-top: 5rem;
    width: 45%;
  }

  .header__text {
    width: 60%;
  }

  .footer {
    background: linear-gradient(hsla(var(--light-green), 0.9), hsla(var(--light-green), 0.9)), url('./assets/tablet/image-footer.jpg');
    flex-direction: column;

    text-align: center;
    margin-top: 6rem;
    padding: 10rem 6rem 8rem;
  }

  .footer__heading {
    width: 48%;
  }
  .footer__text {
    width: 80%;

    margin: 3rem 0;
  }
}

@media (max-width: 900px) {
  .meeting__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .meeting {
    margin-inline: 3rem;
  }

  .meeting__heading {
    width: 60%;
  }

  .footer {
    background: linear-gradient(hsla(var(--light-green), 0.9), hsla(var(--light-green), 0.9)), url('./assets/mobile/image-footer.jpg');
    background-position: center top;
    padding: 10rem 6rem 5rem;
  }

  .footer__heading {
    width: 90%;
  }
  .footer__text {
    width: 100%;

    margin: 5rem 0;
  }
}
@media (max-width: 500px) {
  .header__title {
    margin-top: 5rem;
    width: 80%;
    line-height: 4rem;
  }
  .header__text {
    width: 65%;
  }

  .btn {
    display: block;
    margin: 0 auto 1.5rem;
  }

  .meeting__heading {
    width: 70%;
  }
}
