@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);

  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Karla', sans-serif;
  line-height: 2.6rem;
  letter-spacing: -0.17px;
  background: var(--light-gray);
}

main {
  padding: 7.2rem 3.2rem 6.2rem;
}


/* Hero */
main > * {
  padding: 2.4rem;
  max-width: 500px;
  margin-inline: auto;
}
.hero {
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hero__heading {
  font-size: 2rem;
  letter-spacing: -0.25px;
  margin-bottom: 2.4rem;
  color: var(--cyan);
}

.hero__subheading {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.19px;
  color: var(--bright-yellow);
}

.hero__text {
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.17px;
  color: var(--grayish-blue);
  margin-top: 1.6rem;
  width: 90%;
}

/* Money */
.money {
  background: var(--cyan);
  color: #fff;
}

.money__heading {
  font-size: 1.8rem;
  letter-spacing: -0.22px;
  margin-bottom: 1.8rem;
}
.money__price {
  font-weight: bold;
  font-size: 3.2rem;
  letter-spacing: -0.4px;
}

.money__small {
  font-size: 1.6rem;
  letter-spacing: -0.2px;
  color: var(--light-gray);
  font-weight: 400;
  margin-left: 1rem;
}
.money__text {
  margin-top:1rem;
}
.money__button {
  width: 100%;
  padding: 1.3rem;
  cursor: pointer;
  margin-top: 2.6rem;
  border: none;
  color: #fff;
  background: var(--bright-yellow);
  font-weight: bold;
  font-size: 1.6rem;
  font-family: inherit;
  letter-spacing: -0.2px;
  border-radius: 5px;
}

/* Why section */
.why {
  background: hsl(179, 62%, 48%);
  color: #fff;
}
.why__heading {
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  letter-spacing: -0.22px;
}

.why__list {
  padding: 0;
  list-style: none;
}
.why__item {
  color: var(--light-gray);
  font-size: 1.4rem;
}

/* Desktop */
@media (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'hero hero hero hero'
      'money money why why';
    min-height: 100vh;
    place-content: center;
    max-width: 63.5rem;
    margin-inline: auto;
  }
  main > * {
    padding: 4rem;
    margin-inline: 0;
  }

  .hero {
    grid-area: hero;
    max-width: 63.5rem;
  }
  .hero__heading {
    font-size: 2rem;

  }

  .hero__subheading {
    font-size: 1.8rem;
  }

  .hero__text {
    margin-top:1rem;
    width:100%;
  }
  .money {
    grid-area: money;
    max-width: 100%;
    border-bottom-left-radius: 5px;
  }

  .why {
    grid-area: why;
    max-width: 100%;
    border-bottom-right-radius: 5px;
  }
  .why__item {
    padding:0;
    margin:0;
    margin-bottom:-5px;
  }
}
