/* || REST || */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* || VARIABLES || */
:root {
  /* ### Primary ### */

  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* ### Neutral ### */
  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* || GENERAL STYLES || */
body {
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
  background: var(--very-dark-blue-main-bg);
  display: grid;
  place-content: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.card {
  width: 350px;
  background-color: var(--very-dark-blue-card-bg);
  padding: 1.5rem;
  border-radius: 20px;
  margin: 3rem 1rem;
}

/* || CARD Image && Overlay || */
.card__img--ethereum {
  width: 302px;
  height: 302px;
  border-radius: 10px;
}

figure {
  position: relative;
  cursor: pointer;
}

.card__icon--view {
  background: url('./images/icon-view.svg');
  width: 48px;
  height: 48px;
  position: absolute;
  top: calc((302px - 48px) / 2);
  left: calc((302px - 48px) / 2);
  display: none;
}

.card__img--overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 302px;
  width: 302px;
  background: rgb(0, 255, 255, 0.5);
  border-radius: 10px;
  display: none;
}

figure:hover .card__img--overlay,
figure:hover .card__icon--view {
  display: block;
}

.card__img--ethereum:hover .card__icon--view {
  display: block;
}

/* || CARD CONENT || */
.card__heading {
  color: var(--white);
  margin: 1.5rem 0;
  font-size: 22px;
  font-weight: semi-bold;
  cursor: pointer;
}
.card__heading:hover {
  color: var(--cyan);
}

.card__paragraph {
  color: var(--soft-blue);
  line-height: 26px;
  font-weight: 100;
  margin-bottom: 1rem;
  font-size: 17px;
}

.card__details {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  border-bottom: 1px solid var(--very-dark-blue-line);
  padding-bottom: 24px;
}

.card__amount {
  color: var(--cyan);
  font-weight: bold;

  display: flex;
}

.card__icon--ethereum,
.card__icon--clock {
  margin-right: 6px;
}
.card__icon--ethereum {
  width: 11px;
  height: 18px;
}

.card__icon--clock {
  width: 16px;
  height: 16px;
}

.card__time {
  color: var(--soft-blue);
  display: flex;
}

/* || CARD AUTHOR || */
.card__author {
  display: flex;
  align-items: center;
  color: var(--white);
  cursor: pointer;
}

.card__img--author {
  width: 33px;
  height: 33px;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.author__text {
  margin-left: 16px;
  color: var(--soft-blue);
}
.author__highlight {
  color: var(--white);

  cursor: pointer;
}

.author__highlight:hover {
  color: var(--cyan);
}

/* || On Mobile Screen || */
@media (max-width: 375px) {
  .card {
    width: 327px;
  }

  .card__img--ethereum {
    width: 278px;
  }
}
