@use '../util/' as u;

html {
  box-sizing: border-box;
}

* {
  padding:0;
  margin:0;
  box-sizing: inherit;
}

body {
  font-family: u.$font-inter;
  background:var(--main-background);
  color:var(--main-heading);
  line-height: 1.5;
}

img {
  display:block;
  max-width: 100%;
  height:auto;
  
}