@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');

/**** || REST || ****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**** || VARIABLES || ****/
:root {
  /* ### Colors ### */
  --light-blue: hsl(234, 25%, 52%);
  --dark-blue: hsl(233, 54%, 16%);
  --light-gray: hsl(232, 10%, 56%);
  --red: hsl(341, 92%, 62%);
  --light-red: hsl(341, 100%, 83%);
  --white: hsl(0, 0%, 100%);
  --orange-gradient: linear-gradient(hsl(13, 100%, 64%), hsl(322, 87%, 55%));
  --purple-gradient: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));
}

/**** || GENERAL SETUP || ****/
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  background: var(--white);
  overflow-x: hidden;
}

button,
a {
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
h1 {
  font-size: 56px;
  line-height: 70px;
  color: var(--dark-blue);
}
h2 {
  font-size: 40px;
  line-height: 51px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4,
h5 {
  font-size: 24px;
  line-height: 28px;
}

/**** || UTILITY CLASSES || ****/

.btn {
  border: none;
  border-radius: 20px;
  padding: 0.8rem 1.6rem;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.btn--dark {
  background: var(--dark-blue);
}
.btn--dark:hover {
  background: var(--light-blue);
}
.btn--orange {
  background: var(--orange-gradient);
}
.btn--orange:hover {
  --orange-gradient: linear-gradient(hsla(322, 87%, 55%, 0.6), hsla(13, 100%, 64%, 0.6));
}

.btn--purple {
  background: var(--purple-gradient);
}

.btn--purple:hover {
  --purple-gradient: linear-gradient(hsla(237, 100%, 64%, 0.5), hsla(322, 87%, 55%, 0.5));
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/**** || NAVBAR || ****/

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar {
  margin-top: 1rem;

  margin: 2rem;
}
.container--navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container--hero {
  display: flex;
  align-items: center;
}

.hero__left {
  width: 100%;
}
.hero__right {
  position: relative;
  top: -135px;
  left: 339px;
  z-index: -100;
}
.hero__paragraph {
  margin: 29px 0 30px 0;
  width: 90%;
  color: var(--light-gray);
}

.features {
  padding-bottom: 7rem;
  background: linear-gradient(hsl(234, 100%, 100%), hsl(234, 100%, 97%));
}
.features__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px 30px;
}

.card .card--highlight {
  background: var(--orange-gradient);
  color: #fff;
}
.card--highlight h3 {
  width: 70%;
}

.card {
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  background: var(--white);
}
.card__icon {
  width: 56px;
  height: 56px;
  position: absolute;
  top: -35px;
}

.card__heading {
  margin: 30px 0 24px;
}

.card__paragraph {
  color: var(--light-gray);
  width: 95%;
  margin-bottom: 24px;
}

.card__link {
  color: var(--red);
  text-decoration: none;
  font-weight: bold;
}

.card__link:hover {
  color: var(--light-red);
}

.footer {
  background: var(--dark-blue);
  padding: 0 2rem;
}
.container--footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}


